.main-dropdown-menu {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border: 0;
}
.enrollColumn {
  position: relative;
  top: -260px;
  .programDetailsCard {
    position: sticky;
    top: 50px;
    z-index: 501;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    max-width: 460px;
    margin: auto;
    // position: relative;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(164, 192, 210, 0.22);
    border-radius: 12px !important;
    .programImg {
      height: 195px;
      width: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }
    .detailsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      padding: 30px 50px;
      .programDetailsBullets {
        padding: 0 5px;
        margin-bottom: 20px;
        ul {
          .bulletItem {
            // list-style-type: disc;
            list-style-position: inside;
            margin: 5px auto;
          }
        }
      }
    }
  }
}
// Prog
.main-prog-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  .prog {
    flex: 1;
    background-color: #eeeeee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    .fill {
      background-color: $main-color;
      height: 100%;
      display: block;
    }
  }
}

.educational-component {
  margin-bottom: 1rem;
  img {
    width: 70px;
    height: auto;
  }
}

.video-app {
  width: 100%;
  height: 400px;
}

.group-info-text {
  color: #808080;
  font-size: 14px;
  display: flex;
  margin: 5px 0;
  align-items: center;
  gap: 20px;
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.list-danger {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c00000;
  font-size: 14px;
  font-weight: 600;
}
.card-check {
  border-radius: 10px;
  box-shadow: 0 11px 30px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 25px;
  .head-card-check {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 1.5rem;
    .title {
      color: #393939;
      font-size: 15px;
    }
    .grade {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: #7f7f7f;
      .num {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #979797;
        color: #979797;
      }
    }
  }
  .content {
    margin-bottom: 1rem;
  }
  .group-check {
    width: fit-content;
    .btn-checkd {
      position: relative;
      width: 100%;
      .text {
        position: relative;
        background-color: #f7f7f7;
        border-radius: 22.5px;
        margin: 0;
        min-height: 46px;
        min-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-size: 14px;
        color: #000809;
        width: 100%;
        cursor: pointer;
        padding: 6px 20px;
        z-index: 2;
      }
      input {
        width: 100%;
        height: 100%;
        top: 50%;
        cursor: pointer;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1;
        &:checked {
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            cursor: pointer;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 3px);
            height: calc(100% + 3px);
            border-radius: 22.5px;
            border: 3px solid #ffd13f;
          }
        }
      }
    }
  }
}
.programEnrollCard {
  background-color: $main-color;
  padding: 36px 110px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 100px;
  color: #fff;
  .title {
    font-size: 32px;
    font-weight: 700;
  }
  .subtitle {
    font-size: 16px;
    font-weight: 400;
  }
}
.courses {
  display: flex;
  padding: 35px 0;
  overflow-x: scroll;
  .linkComponent {
    display: contents;
    .courseCard {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      border-radius: 12px;
      overflow: hidden;
      width: 267px;
      min-width: 211px;
      height: 290px;
      margin: 0 15px;
      box-shadow: 0 10px 30px 0 rgba(164, 192, 210, 0.22);
      cursor: pointer;
      .courseImg {
        width: 100%;
        height: 115px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      .courseContent {
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        .courseName {
          font-size: 18px;
          margin: 10px 0;
          font-weight: 500;
          line-height: 1.1;
        }
        .textLabel {
          border-radius: 4px;
          padding: 3px 6px;
          font-size: 12px;
          font-weight: 700;
          line-height: 17px;
          color: #4a90e2;
          background-color: rgb(233, 246, 251);
        }
      }
    }
  }
  .textCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3459de;
    border-radius: 12px;
    width: 267px;
    min-width: 211px;
    height: 290px;
    margin: 0 15px;
    padding: 40px;
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(164, 192, 210, 0.22);
    cursor: pointer;
    .text {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      color: #fff;
      text-align: center;
      margin: 10px 0;
    }
    .close {
      font-size: 20px;
      color: #fff;
      background-color: transparent;
    }
  }
}
.main-box {
  box-shadow: 0 0 10px #ddd;
  margin-top: 16px;
  background-color: #fff;
  padding: 20px;
}
.box-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  margin-top: 16px;
}
.course-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .card-course {
    width: 180px;
    padding: 10px;
    box-shadow: 0 0 10px #ddd;

    .img-card {
      position: relative;
      img {
        height: 130px;
        width: 160px;
      }
      .paid {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%);
        background-color: rgba($color: $main-color, $alpha: 0.9);
        padding: 3px 8px;
        color: #fff;
        z-index: 999;
        border-radius: 3px;
      }
    }
  }
  .text-info {
    .des {
      font-weight: 700;
      text-align: center;
      font-size: 14px;
      padding: 10px;
      margin: 0;
    }
    .days {
      padding: 2px 35px;
      background-color: rgba($color: $main-color, $alpha: 0.5);
      color: #fff;
      text-align: center;
      margin: 12px 0 !important;
    }
  }
}
