.main-btn {
  border-radius: 50px;
  background: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 7px 33px;
  width: fit-content;
  cursor: pointer;
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  line-height: normal;
  &.xl {
    padding-left: 93px;
      padding-right: 93px;
  }
}

.btn-transparent {
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 6px 8px;
  background-color: transparent;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: $sm-transition;
  justify-content: center;
  gap: 0.7rem;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: $main-color;
  }
}