$main-color: #0ba7aa;
$main-color-light:#0ba7aa21;
$main-color-dark: #097274;
$sec-color: #b8b8b8;
$text-color1:#000000;
$text-color2: #0b2239;
$text-color3: #24343f;
$text-color4: #555555;

$white: white;
$red: #e53935;
