$main-color: #0ba7aa;
$main-color-light: rgba(219, 144, 105, 0.43);
$main-color-dark: #b0795d;
$sec-color: #b8b8b8;
$text-color1:#000000;
$text-color2: #0b2239;
$text-color3: #000000;
$text-color4: #555555;

$white: white;
$red: #e53935;
