.contact {
  padding-bottom: 70px !important;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    z-index: -1;
    top: 35px;
    content: url("../images/layer-1.png");
  }
  &::before {
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    z-index: -1;
    bottom: 0;
    content: url("../images/layer-2.png");
  }
  .form {
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px;
    background-color: $white;
    padding: 20px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 950px;
    .main-title {
      margin-bottom: 30px;
    }
    .title {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 30px;
      line-height: 27px;
      color: #0f001a;
    }
    .boxes {
      display: flex;
      gap: 80px;
      .box {
        flex: 1;
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          display: block;
          color: #0f001a;
          opacity: 0.8;
          margin-bottom: 13px;
          .sm {
            font-weight: 300;
            font-size: 12px;
            line-height: 13px;
            color: rgba(15, 0, 26, 0.7);
          }
        }
        .inp {
          margin-bottom: 14px;
        }
        .btn-sub {
          background-color: $main-color;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          padding: 15px;
        }
        &.two {
          display: flex;
          flex-direction: column;
          gap: 22px;
          .item {
            display: flex;
            gap: 30px;
            align-items: center;
            .icon {
              width: 20px;
              height: auto;
            }
            .text {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #0f001a;
            }
          }
          .social {
            margin-top: 9px;
            display: flex;
            align-items: center;
            gap: 25px;
            a {
              .icon {
                color: $main-color;
                font-size: 21px;
              }
            }
          }
          .map {
            iframe {
              border-radius: 4px;
              width: 100%;
              height: 155px;
              margin-top: 19px;
            }
          }
        }
      }
    }
    @include maxWidth(md) {
      padding-right: 20px;
      .boxes {
        flex-direction: column;
        gap: 1rem;
        .box {
          &.two {
            .item {
              gap: 16px;
            }
          }
        }
      }
    }
  }
}

.land-program {
  padding: 95px 0;
  background-color: $main-color;
  .contentContainer {
    .textLabel {
      color: rgb(115, 136, 168);
      border-radius: 4px;
      padding: 3px 6px;
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      background-color: #fff;
    }
    .text-land {
      max-width: 450px;
      color: #fff;
      .heroTitle {
        font-size: 40px;
        font-weight: 800;
        line-height: 54px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
.tabs {
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #edf1f5;
  line-height: 1.5;
  background-color: #fff;
  border-bottom: 1px solid #edf1f5;
  border-top: 1px solid #edf1f5;
  .sectionsTab {
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0;
    cursor: pointer;
    position: relative;
    top: 1px;
    margin: 0 10px;
  }
}
.section-text {
  padding: 30px 20px;
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
  }
  .des-collapes {
    transition: 0.3s;
    .des {
      transition: 0.3s;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      .listItem {
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        margin: 15px auto;
        .fa-arrow-left {
          font-size: 24px;
          color: $main-color;
          padding: 0 8px;
        }
      }
    }
  }
  .syllabusItems {
    .syllabusItem {
      background-color: #edf2f6;
      padding: 30px;
      border-radius: 4px;
      margin: 10px auto;
      .syllabusItemTitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: #24343f;
      }
      .syllabusItemDescription {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #3f5767;
      }
    }
  }
  .programSectionContent {
    .organizationContent {
      display: flex;
      margin: 10px auto;
      gap: 20px;
      .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding: 15px;
        border-radius: 12px;
        width: 30%;
        box-shadow: 0 10px 30px 0 rgba(164, 192, 210, 0.22);
        img {
          width: 100px;
          height: auto;
          object-fit: contain;
        }
      }
      .organizationDetails {
        padding: 10px;
        .organizationName {
          font-size: 16px;
          font-weight: 700;
        }
        .organizationDescription {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  .teachers {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    .teacherCard {
      img {
        width: 100px;
        height: auto;
        border-radius: 50%;
      }
      background: #f0f4f9;
      border-radius: 12px;
      margin: 20px;
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      // width: 267px;
      padding: 20px;
      position: relative;
      .teacherName {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 40px;
        margin-bottom: 15px;
      }
      .teacherTitle {
        font-size: 16px;
        font-weight: 400;
        color: #6889a0;
        text-align: center;
      }
      .teacherBio {
        padding-top: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        text-align: right;
        width: 100%;
      }
    }
  }
}

.nav-main-taps {
  gap: 10px;
  .nav-item {
    .nav-link {
      background-color: #fff;
      border-radius: 80px;
      color: #3f5767;
      border: 1px solid #3f5767;
      padding: 10px 20px;
      font-size: 14px;
      &.active {
        background-color: $main-color;
        color: #fff;
        border-color: $main-color;
      }
    }
  }
}

.side-profile {
  .avatar {
    padding: 20px;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      padding: 10px;
      border: 3px dotted $main-color;
    }
  }
  .title-name {
    padding: 10px 12px;
    margin: 30px 0;
    background-color: $main-color;
    .name {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .taps-control{
    padding: 10px 0;
    box-shadow: 0 0 10px #ddd;
    ul{
      display: flex;
      flex-direction: column;
      .main-tap{
        padding: 5px 10px;
        .icon{
          color: $main-color;
        }
        a{
          display: flex;
          gap: 10px;
          align-items: center;
        }
        &:hover{
          background-color: $main-color;
          a{

            color: #fff;
          }
          .icon{
            color: #fff;
          }
        }

      }
    }
  }
}


// app sidebar
.app-sidebar {
  padding-block-start: 64px;
  height: 100vh;
  display: flex;
  .sidebar {
    z-index: 999;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 400px;
    border-inline-end: 1px solid rgba(0, 0, 0, 0.12);
    transition: $sm-transition;
    border-radius: 8px;
    background-color: #fff;
    .toggle-side {
      position: absolute;
      inset-inline-start: 100%;
      width: 30px;
      top: 11px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 11px;
      background-color: #fff;
      border-top-left-radius: 110px;
      border-bottom-left-radius: 110px;
    }
    .item-side {
      padding: 17px 18px;
      .title-side {
        margin: 0;
        font-size: 19px;
        color: $text-color1;
      }
    }
    .list-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      padding: 16px 6px;
      .accordion-item {
        overflow: hidden;
        border: 0;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 8.3%);
        border-radius: 8px;
        .accordion-header {
          padding: 0;
          .icon-item {
            width: 30px;
            border: $main-color dashed 2px;
            height: 30px;
            border-radius: 50%;
            margin-inline-end: 18px;
          }
          .accordion-button {
            box-shadow: none;
            padding: 16px;
            &:not(.collapsed) {
              color: $main-color;
              background-color: $main-color-light;
            }
          }
        }
        .accordion-body {
          padding: 16px;
          .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .item-content {
              overflow: hidden;
              border: 0;
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 16px;
              box-shadow: 0px 3px 9px rgba(0, 0, 0, 8.3%);
              border-radius: 8px;
              &.active {
                border: 3px solid $main-color;
              }
              .icon {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
  .app-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px 52px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content {
      flex: 1;
    }
  }
  @include maxWidth(md) {
    .sidebar {
      width: 0px;
      & *:not(.toggle-side, .toggle-side *) {
        visibility: hidden;
      }
    }
    .app-content {
      padding: 12px;
    }
  }
  &.active {
    .sidebar {
      width: 75px;
      .item-side {
        visibility: hidden;
        position: absolute;
      }
      .main-hr {
        visibility: hidden;
        position: absolute;
      }
      .accordion-button {
        &::after {
          visibility: hidden;
          position: absolute;
        }
        & *:not(.icon-item) {
          visibility: hidden;
          position: absolute;
        }
        .icon-item {
          margin-inline-end: 0 !important;
        }
      }
    }
    @include maxWidth(md) {
      .sidebar {
        width: 75%;
        position: fixed;
        inset-inline-start: 0;
        height: calc(100vh - 64px);
        bottom: 0;
        & *:not(.toggle-side, .toggle-side *) {
          visibility: visible;
        }
        .item-side {
          visibility: visible;
          position: unset;
        }
        .main-hr {
          visibility: visible;
          position: unset;
        }
        .accordion-button {
          &::after {
            
            visibility: visible;
            position: unset;
          }
          & *:not(.icon-item) {
            visibility: visible;
            position: unset;
            
          }
          .icon-item {
            margin-inline-end: 10px !important;
          }
        }
      }
    }
  }
}
